.banner {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(-90deg, #22965E, #1D5895);
    height: 75px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -1px;
    color: white;
}

.search-box {
    margin-top: 5px;
    margin-bottom: 10px;
}

.results-view {
    margin-bottom: 50px;
}

table td {
    border-top: none !important;
}

.star {
    visibility:hidden;
    font-size:24px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   visibility:visible;
   color: grey;
}
.star:checked:before {
   content: "\2605";
   color: #22965E;
}